hmtl,
body {
  background: #F4F9FC;
  background-size: cover;
}

header {
  display: flex;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #F4F9FC;
}

.header__container {
  max-width: 1920px;
  padding: 30px 30px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__menu {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 4;
  background: #F4F9FC;
  box-shadow: 0px 5px 20px #CDDAE1;
 
}

.header__menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header__logo-box {
  margin-right: 80px;
}

.menu__items {
  display: flex;
  margin-right: 200px;
}

.header__img-box {
  position: relative;
}
.header__img-box img:first-child {
  display: block;
  max-width: 765px;
  margin-bottom: 147px;
  background: radial-gradient(45% 45% at 53% 53%, #FF6B00 0%, rgba(255, 107, 0, 0) 100%);
}

.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work__img::after {
  margin-left: 0px;
  margin-bottom: 0px;
}

.work__row {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}
.work__row:last-child {
  margin-bottom: 0;
}

.about__box-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #13171D;
  margin-bottom: 16px;
}

.menu__item {
  margin-right: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #13171D;
  white-space: nowrap;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  display: block;
  position: relative;
  border: 2px solid transparent;
}
.menu__link:hover {
  display: block;
  color: #E2001A;
  text-decoration: underline;
  text-underline-offset: 310%;
  text-decoration-thickness: 3px;
}

.header__geo {
  margin-right: 46px;
  white-space: nowrap;
  position: relative;
}
.header__geo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  background: url(../images/icons/geo-top.svg) 0 0/100% no-repeat;
  height: 32px;
  width: 32px;
}

.geo__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #13171D;
  margin-bottom: 2px;
}

.geo__link {
  text-decoration: underline;
}

.header__phone {
  display: flex;
  white-space: nowrap;
  position: relative;
  margin-right: 35px;
}

.phone__phone {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #13171D;
}
.phone__phone:last-child {
  padding-right: 35px;
}

.phone__line {
  margin: 0 16px;
}

.phone__call-img {
  margin-left: 15px;
}
.phone__call-img svg {
  position: absolute;
  top: 2px;
  right: -63px;
  margin-right: 30px;
  transition: all 0.4s;
}
.phone__call-img:hover svg {
  box-shadow: 0px 0px 0px 16px rgba(255, 63, 58, 0.12);
  border-radius: 50%;
  transition: box-shadow ease-in-out 0.15s;
}

.header__body {
  background: url(../images/bg/header__bg.svg) 80px 284px/90% no-repeat;
  padding-bottom: 145px;
  flex: 1 1 auto;
}

.header__body-inner {
  display: flex;
  padding-top: 175px;
}

.header__content {
  margin-right: 200px;
}

.header__title {
  display: block;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 110px;
  letter-spacing: -0.01px;
  color: #13171D;
  margin-top: 150px;
  margin-bottom: 20px;
  max-width: 400px;
}

.header__text {
  margin-bottom: 40px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #444444;
  max-width: 400px;
}

.header__button {
  content: "";
  width: 284px;
  height: 64px;
  background: #E2001A;
  border-radius: 15px;
  padding: 18px 30px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  transition: all 0.4s;
}
.header__button:hover {
  background: #FC142F;
  box-shadow: 0px 10px 30px rgba(252, 20, 47, 0.2);
  transition: all 0.4s;
}
.header__button:active {
  background: #FC142F;
  box-shadow: inset 0px 3px 0px #D10018;
}

.header__timer {
  max-width: 264px;
  height: auto;
  background: #FFFFFF;
  border-radius: 30px;
  position: absolute;
  padding: 15px;
  top: 225px;
  right: -22px;
}

.header__skidka {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header__skidka span {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 113.007px;
  line-height: 113px;
  letter-spacing: -0.01em;
  color: #FF6B00;
  text-shadow: 0px 100px 80px rgba(255, 107, 0, 0.11), 0px 46.233px 36.9864px rgba(255, 107, 0, 0.0815843), 0px 26.4535px 21.1628px rgba(255, 107, 0, 0.0689459), 0px 16.0571px 12.8457px rgba(255, 107, 0, 0.0593943), 0px 9.67509px 7.74008px rgba(255, 107, 0, 0.0506057), 0px 5.38772px 4.31018px rgba(255, 107, 0, 0.0410541), 0px 2.31722px 1.85378px rgba(255, 107, 0, 0.0284157);
  position: absolute;
  top: -56px;
  left: 0px;
}
.header__skidka img {
  position: absolute;
  top: 0px;
  left: 107px;
}

.header__skidka-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #13171D;
  margin-top: 70px;
  margin-bottom: 22px;
}

.header__skidka-line {
  width: 230px;
  height: 2px;
  background: #13171D;
  opacity: 0.1;
  margin-bottom: 22px;
}

.header___end-action {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #13171D;
  opacity: 0.5;
  margin-bottom: 97px;
}

.timer__items {
  position: absolute;
  top: 19px;
  right: 42px;
  display: flex;
  font-size: 48px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #13171D;
}

.timer__item {
  margin-right: 20px;
}
.timer__item::before {
  content: attr(data-title);
}
.timer__item:not(:last-child)::after {
  content: ":";
  margin-left: 10px;
}

.header__timer-items {
  display: flex;
  position: absolute;
  bottom: 47px;
  left: 42px;
}

.header__timer-item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.01em;
  color: #13171D;
  opacity: 0.5;
  margin-right: 50px;
}
.header__timer-item:nth-child(2) {
  margin-right: 33px;
}

.header__item {
  margin-left: 41px;
}

.header__item-img {
  margin-bottom: 24px;
}

.header__item-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #13171D;
  margin-bottom: 16px;
}

.header__item-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
  max-width: 330px;
}

.work__img {
  position: relative;
  max-width: 302px;
  height: auto;
}

.work__item {
  margin-right: 30px;
  position: relative;
}

.work__item--text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: #13171D;
}

.work__img1 {
  position: absolute;
  top: -33px;
  left: 70px;
  z-index: 1;
  max-width: 150px;
}

.work__item-title {
  position: absolute;
  top: 175px;
  left: 62px;
}

.work__icon-apple {
  position: absolute;
  top: 67px;
  right: 28px;
  background: url(../images/icons/apple-icon.svg) 0 0/100% no-repeat;
  width: 110px;
  height: 100px;
  z-index: 500;
  border-radius: 50px;
}

.work__bg-apple {
  position: absolute;
  top: 38px;
  right: 183px;
  background: url(../images/bg/bg-apple.svg) 0 0/100% no-repeat;
  width: 77px;
  height: 77px;
}

.work__icon-android {
  position: absolute;
  top: 67px;
  right: 39px;
  background: url(../images/icons/android-icon.svg) 0 0/100% no-repeat;
  width: 110px;
  height: 100px;
  z-index: 500;
  border-radius: 50px;
}

.work__bg-android {
  position: absolute;
  top: 17px;
  right: 42px;
  background: url(../images/bg/bg-android.svg) 0 0/100% no-repeat;
  width: 78px;
  height: 62px;
}

.work__img2 {
  position: absolute;
  top: -191px;
  left: 134px;
  z-index: 1;
  max-width: 150px;
}

.work__img3 {
  position: absolute;
  top: -191px;
  left: 92px;
  z-index: 1;
  max-width: 194px;
}

.work__bg-clock {
  position: absolute;
  top: -26px;
  right: 53px;
  background: url(../images/bg/bg-clock.svg) 0 0/100% no-repeat;
  width: 190px;
  height: 154px;
}

.work__img4 {
  position: absolute;
  top: -171px;
  left: 96px;
  z-index: 1;
  max-width: 195px;
}

.work__bg-nb {
  position: absolute;
  top: -2px;
  right: 45px;
  background: url(../images/bg/bg-nb.svg) 0 0/100% no-repeat;
  width: 229px;
  height: 139px;
}

.work__img5 {
  position: absolute;
  top: -176px;
  left: 97px;
  z-index: 1;
  max-width: 190px;
}

.work__bg-mn {
  position: absolute;
  top: 65px;
  right: 53px;
  background: url(../images/bg/bg-mon.svg) 0 0/100% no-repeat;
  width: 199px;
  height: 114px;
}

.work__img6 {
  position: absolute;
  top: -209px;
  left: 92px;
  z-index: 1;
  max-width: 220px;
}

.work__bg-joy {
  position: absolute;
  top: -26px;
  right: 52px;
  background: url(../images/bg/bg-joy.svg) 0 0/100% no-repeat;
  width: 215px;
  height: 217px;
}

.work__button {
  padding-top: 5px;
  position: absolute;
  top: 201px;
  left: 208px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.4), 0px 3px 10px rgba(255, 107, 0, 0.4);
  transition: all 0.5s;
}

.work__button:hover {
  background: #E2001A;
}

.work__button:hover path {
  stroke: #fff;
}

.work__fonts {
  position: relative;
}

.main__work {
  padding-bottom: 80px;
  flex: 1 1 auto;
}

.work__title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 84px;
  color: #13171D;
  max-width: 440px;
  margin-right: 225px;
}

.main__about {
  background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
  padding-top: 80px;
  justify-content: space-between;
}

.main__about-inner {
  display: flex;
  padding-bottom: 120px;
  justify-content: space-between;
}

.about__content {
  margin-right: 120px;
}

.about__title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  color: #13171D;
  margin-bottom: 24px;
  max-width: 333px;
}

.about__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  max-width: 324px;
  margin-bottom: 40px;
}

.about__button-box {
  content: "";
  width: 182px;
  height: 64px;
  background: #E2001A;
  border-radius: 15px;
  padding: 18px 30px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  transition: all 0.4s;
  align-items: center;
}
.about__button-box:hover {
  background: #FC142F;
  box-shadow: 0px 10px 30px rgba(252, 20, 47, 0.2);
  transition: all 0.4s;
}
.about__button-box:active {
  background: #FC142F;
  box-shadow: inset 0px 3px 0px #D10018;
  border-radius: 15px;
}
.about__button-box span {
  margin-right: 21px;
}

.about__icon-play {
  padding-top: 3.5%;
}

.about__box {
  margin-top: 16px;
}

.about__box-row {
  display: flex;
}

.about__box-item {
  max-width: 344px;
  margin-bottom: 56px;
  margin-right: 80px;
}

.about__box-img {
  margin-bottom: 36px;
}

.about__box-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #444444;
}

.reviews__slider {
  display: flex;
}

.team__img-team img {
  border-radius: 15px;
  margin-right: 30px;
}/*# sourceMappingURL=style.css.map */
