.flexbox {
	height: 600px;
	margin: 100px;
	border: 5px solid #000;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.flexbox__item {
	height: 200px;
	width: 200px;
	border: 20px solid #ff0000;
	
}

.flexbox__content {
	height: auto;
	width: auto;
	color: #00ff0d;
	font-weight: 900;
	font-size: 4rem;
	text-align: center;
	position: relative;
		top: 25%;
	animation: text 7s ease -1s infinite normal none;
	border-radius: 50%;
}


@keyframes text {
  /* первый шаг */
  0% {	
    background: green;
  }
  /* второй шаг */
  50% {
    background: magenta;
  }
  /* третий шаг */
  100% {
    background: red;
  }
	0% {
		transform:rotate(0deg);
}
100% {
		transform:rotate(360deg);
}
}